<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Departments</title>
</head>

<body>
  <h2 style="margin-left: 30px;">There are following departments in the universities: </h2>
  <br />
  <div class="count_data" style="display:none">{{departments}}</div>
  <div id="string-display" style="margin-left: 50px;">
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      let element = document.querySelector('.count_data');
      let text = element.textContent;
      let arrayNames = text.split(',');
      let displayElement = document.getElementById('string-display');
      arrayNames.forEach(function (str) {
        let paragraph = document.createElement('h3');
        paragraph.textContent = str;
        displayElement.appendChild(paragraph);
      });
    });
  </script>
</body>

</html>