<DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Home</title>
    </head>

    <body>
        <h1 style="margin-left: 30px;">Welcome to the Universities </h1>
        <div class="login" style="background-color:#f1f1f1">
            <br>
            <h2 class="redirect_register" style="font-size: 16px; margin-left: 80px">Are you a new user? Please <a
                    href="/register">Sign up</a></h2>
            <br>
            <h2 class="redirect_login" style="font-size: 16px; margin-left: 70px">Have you already registered user? Please <a
                    href="/login">Sign in</a></h2>
            <br>
        </div>
    </body>

    </html>