<DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>

  <body>
    <h1 style="margin-left: 30px;">Welcome to the Universities </h1>
    <div class="login" style="background-color:#f1f1f1">
      <br>
      <h2 class="redirect_logout" style="font-size: 16px; margin-left: 80px">Would you like to leave the University
        service? Please <a href="/auth/logout">Sign up</a></h2>
      <br>
    </div>
  </body>

  </html>