<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Home</title>
</head>

<body>
    <h2>The Universities provides information about:</h2>
    <br>
    <form class="row info" style="width:500px;">
        <div class="content">
            <h3 class="text-center">Universities - </h3>

        </div>
    </form>
</body>

</html>