<DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Logout</title>
    </head>

    <body>
        <div class="login" style="background-color:#f1f1f1">
            <h2 class="redirect_login" style="font-size: 16px; margin-left: 70px">Would you like to use site, please <a
                    href="login">Login</a></h2>
            <br>
        </div>
    </body>

    </html>