<header>
    <a href="universities" style="float:left">
        <img src="https://upload.wikimedia.org/wikipedia/ru/thumb/e/e5/Hogwarts-coat.svg/1920px-Hogwarts-coat.svg.png"
            alt="" width="100" height="90">
    </a>
    <h1 class="headerTitle">Universities</h1>
    <p>You can get detailed information about each university, faculties and departments.
        You can also get statistic information about students' academic performance here</p>
</header>